<footer class="container-fluid bg-primary fixed-bottom">
    <div class="row p-2">
        <div class="col-10 text-white ">
            <strong>
                Copyright &copy; 2014-2020 
                <a class="text-white border-bottom" href="https://www.google.com/">&nbsp; PaperPlane.net &nbsp;</a>
            </strong>
            All rights reserved.
        </div>
        <div class="col-2 float-left text-white">
            <b>Version</b> 3.1.0-rc
        </div>
    </div>
</footer>

<!--<footer class="bg-primary container-fluid fixed-bottom text-white">
    <div class="float-right">
        <b>Version</b> 3.1.0-rc
    </div>
    <strong>Copyright &copy; 2014-2020 <a class="text-white border border-success" href="https://www.google.com/">&nbsp; PaperPlane.io &nbsp;</a></strong> All rights reserved.
</footer>-->